@tailwind base;
@tailwind components;
@tailwind utilities;

/* لدعم اللغة العربية والإنجليزية */
html[dir='rtl'] {
  text-align: right;
  direction: rtl;
}
html[dir='ltr'] {
  text-align: left;
  direction: ltr;
}
